<div class="container user col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
  <div>
    <table class="table" style="position: absolute; width: 0;">
      <thead>
      <tr>
        <th>Node Id</th>
        <th>Rank</th>
      </tr>
      </thead>
      <tbody id="katzCentrality">
      </tbody>
    </table>
  </div>
  <div id="visualization"></div>
</div>
