<div class="container user col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">

  <h1><%= partner.name %></h1>
  <img src="/images/<%= partner.photo && ('upload/' + partner.photo) || 'thumb-default.png' %>" width="150" height="150" />

  <div>
    <% if (req.session.authenticated) { %>
    <a href="/add-reward">Add a Reward</a>
    <% } %>
    <div class="row text-center">
      <%- partial ('partials/grid.ejs', { items: partner.rewards, header: 'Rewards', section: 'reward' }) %>
    </div>
  </div>


  <% if (req.session.partner) { %>
    <h1>Live View</h1>
    <button id='play'>Start Scan</button>
    <br>
    <video id='v'></video>
    <canvas id='c'></canvas>
  <% } %>
</div>
